.root {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
}

.smallCard {
  width: 40%;
  height: 204px;
  background: #2d2d2d;
  border-radius: 20px;
  padding: 8px 16px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .decoration {
    display: flex;
    margin-top: auto;
    margin-bottom: -10px;
    margin-left: auto;
    transition: all 0.1s ease-in-out;
    transform: scale(1.2);
  }
  span {
    display: flex;
    align-items: center;
  }
  .botif {
    margin-left: auto;
    color: #c13131;
  }
}

.mediumCard {
  width: 100%;
  box-sizing: border-box;
  height: 204px;
  background: #2d2d2d;
  border-radius: 20px;
  overflow: hidden;
  .innerImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: all 0.1s linear;
    &:hover {
      transform: scale(1.1);
      transition: all 0.1s linear;
    }
  }
}

.bigCard {
  width: 424px;
  height: 424px;
  background: #2d2d2d;
  border-radius: 20px;
  display: flex;
  padding: 20px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  align-items: center;
  .header {
    display: flex;
    color: #fff;
    text-align: right;
    font-size: 32px;
    font-weight: 500;
    margin-right: auto;
    left: 0;
    width: 100%;
  }
  .wines {
    position: relative;
    display: flex;
    margin-top: 20px;

    .wine {
      animation: popup s ease-in-out infinite;
      transition: all 0.3s linear;
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: all 0.3s linear;
      }
      object-fit: cover;
      &:nth-child(1) {
        display: flex;
        margin-top: 90px;
      }
      &:nth-child(2) {
        display: flex;
        margin-top: 40px;
      }
    }
  }
}

.leftCol {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 16px;
}

.rightCol {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
